/*index*/
.banneralbum {
    width: 100%;
    height: 750px;
    border-radius: 20px;
    position: relative;
}
.bannerimg{
    width: 100%;
    height: 100%;
}
.banneralbum a i{
    font-size: 40px !important;
    color: #fff;
}
.banneralbum a:hover i{
    color: #bd2980;
}
.banneralbum .arrow-left {
    position: absolute;
    left: 130px;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 50px;
    z-index: 99;
}
.banneralbum .arrow-right {
    position: absolute;
    right: 130px;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 50px;
    z-index: 99;
}
.swiper-container {
    height: 750px;
    width: 100%;
}
.content-slide {
    padding: 20px;
    color: #fff;
}
.title {
    font-size: 25px;
    margin-bottom: 10px;
}
.pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 30px;
    width: 100%;
    z-index: 99;
}
.swiper-pagination-switch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #fff;
    margin: 0 5px;
    cursor: pointer;
}
.swiper-active-switch {
    background: #bd2980;
}
#scrollText {
    height: 50px;/* 必要元素 */
    line-height: 25px;
    border-bottom: #ccc 1px solid;
    overflow: hidden; /* 必要元素 */
}
.horn{
    font-size: 20px;
    color: #666;
    display: inline-block;
    float: left;
    margin-top: 12px;
}
.s1box{
    width: 1000px;
    height: 50px;
    float: left;
}
.s1box li{
    width: 100%;
    height: 50px;
    padding-left: 30px;
}
.s1box li a{
    font-size: 16px;
    line-height: 50px;
    color: #666;
}
.s1box li a:hover{
    color: #F42424;
}
.server{
    width: 100%;
    overflow: hidden;
    margin: 20px 0;
    padding: 40px 0;
}
.server .serBox{
    width: 184px;
    height: 320px;
    margin: 0 12px;
    float: left;
    border-top: 2px solid transparent;
    text-align: center;
}
.server .serBox:hover{
    border-color: #F42424;
    -webkit-box-shadow: 0 0 20px #999;
    -moz-box-shadow: 0 0 20px #999 ;
    box-shadow:0 0 20px #999 ;
}
.server .serBox:nth-child(1) .titleImg{
    width: 100%;
    height: 140px;
    background: url("../images/in_01.jpg") no-repeat center;
    background-size: 100% 100%;
}
.server .serBox:nth-child(2) .titleImg{
    width: 100%;
    height: 140px;
    background: url("../images/in_02.jpg") no-repeat center;
    background-size: 100% 100%;
}
.server .serBox:nth-child(3) .titleImg{
    width: 100%;
    height: 140px;
    background: url("../images/in_03.jpg") no-repeat center;
    background-size: 100% 100%;
}
.server .serBox:nth-child(4) .titleImg{
    width: 100%;
    height: 140px;
    background: url("../images/in_04.jpg") no-repeat center;
    background-size: 100% 100%;
}
.server .serBox:nth-child(5) .titleImg{
    width: 100%;
    height: 140px;
    background: url("../images/in_05.jpg") no-repeat center;
    background-size: 100% 100%;
}
.server .serBox p{
    font-size: 20px;
    color: #333;
}
.server .serBox em{
    width: 30px;
    height: 1px;
    background-color: #F42424;
    display: block;
    margin: 20px auto;
}
.server .serBox a{
    font-size: 14px;
    color: #333;
}
.server .serBox a:hover{
    color: #F42424;
}
.comTitle{
    text-align: center;
    position: relative;
    margin: 60px 0 0;
    color: #000;
}
.comTitle:after{
    position: absolute;
    content: '';
    bottom: -28px;
    margin-left: -30px;
    left: 50%;
    width: 80px;
    height: 1px;
    background-color: #999;
}
.reason{
    width: 100%;
    background: url(../images/in-box02bg.jpg) no-repeat left top;
    background-size: 100% 100%;
    padding: 1px 0 50px 0;
}
.reason h2{
    color: #fff !important;
}
.reason h2:after{
    background-color: #fff !important;
}
.reason .bin{
    width: 100%;
    overflow: hidden;
    margin-top: 60px;
}
.reason .bin .cabin{
    width: 33.33%;
    height: 260px;
    float: left;
    text-align: center;
    padding: 120px 15px 0 15px;
    position: relative;
}
.cabinline:after{
    content: '';
    position: absolute;
    right: 0;
    top: 60px;
    width: 1px;
    height: 130px;
    background-color: #fff;
}
.reason .bin .cabin p{
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
}
.reason .bin .cabin span{
    font-size: 14px;
    color: #fff;
    line-height: 24px;
}
.reason .bin .cabin:nth-child(1){
    background: url("../images/adv1.png") no-repeat 50% 2%;
}
.reason .bin .cabin:nth-child(2){
    background: url("../images/adv2.png") no-repeat 50% 2%;
}
.reason .bin .cabin:nth-child(3){
    background: url("../images/adv3.png") no-repeat 50% 2%;
}
.reason .bin .cabin:nth-child(4){
    background: url("../images/adv4.png") no-repeat 50% 2%;
}
.reason .bin .cabin:nth-child(5){
    background: url("../images/adv5.png") no-repeat 50% 2%;
}
.reason .bin .cabin:nth-child(6){
    background: url("../images/adv1.png") no-repeat 50% 2%;
}
.news{
    background-color: #f6f6f6;
    padding: 40px 0;
}
.slidenav{
    padding:0 0 40px 0;
}
.slidenav a{
    font-size: 15px;
    color: #000;
    position: relative;
}
.slidenav a:hover{
    color: #dc0201;
}
.slidenav .active{
    color: #dc0201;
}
.slidenav .active:after{
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #dc0201;
}
.slidenav i{
    font-size: 15px;
    color: #000;
    display: inline-block;
    margin: 0 10px;
}
.newstext{
    overflow: hidden;
}
.newstext .left{
    width: 50%;
    float: left;
    padding-right: 50px;
    overflow: hidden;
    border-right: 1px solid #ccc;
}
.newstext .left .date{
    float: left;
    width: 20%;
}
.newstext .left .date span{
    font-size: 18px;
    color: #dc0201;
}
.newstext .left .date h2{
    color: #dc0201;
}
.newstext .left .newsmain{
    float: left;
    width: 80%;
}
.newstext .left .newsmain a{
    font-size: 15px;
    color: #000;
}
.newstext .left .newsmain a:hover{
    color: #dc0201;
}
.newstext .left .newsmain p{
    font-size: 13px;
    height: 60px;
    overflow: hidden;
    color: #666;
    margin-top: 15px;
    line-height: 20px;
}
.newstext .right{
    width: 50%;
    float: left;
    padding-left: 50px;
}
.newstext .right a{
    display: block;
    font-size: 15px;
    color: #666;
    line-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.newstext .right a:hover{
    color: #dc0201;
}
.newstext .right a i{
    display: inline-block;
    margin: 0 10px;
    font-style: normal;
}
.cooperate{
    width: 100%;
    padding-bottom: 40px;
}
.friendsbox{
    width: 100%;
    padding: 0 20px;
    margin-top: 60px;
    padding-top: 20px;
    overflow: hidden;
}
.friendsbox a{
    position: relative;
    float: left;
    width: 170px;
    height: 80px;
    display: inline-block;
    margin: 0 15px 30px 15px;
    border: 1px solid #eee;
    text-align: center;
    overflow: hidden;
}
.friendsbox a img{
    width: 90%;
    height: 90%;
}
.friendsbox a i{
    position: absolute;
    background-color: #dc0201;
}
.friendsbox a .i1{
    width: 0;
    height: 2px;
    left: 0;
    top: 0;
}
.friendsbox a .i2{
    width: 2px;
    height: 0;
    top: 0;
    right: 0;
}
.friendsbox a .i3{
    width: 0;
    height: 2px;
    bottom: 0;
    right: 0;
}
.friendsbox a .i4{
    width: 2px;
    height: 0;
    bottom: 0;
    left: 0;
}
.friendlinks{
    padding-bottom: 20px;
}
.friendlinks p{
    font-size: 15px;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.friendlinks a{
    display: inline-block;
    font-size: 14px;
    color: #333;
    margin-right: 15px;
}
.friendlinks a:hover{
    color: #dc0201;
}

/*about*/
.about_who{
    background-color: #fff;
}
.about_who h2{
    color: #000;
    text-align: center;
    font-size: 26px;
    font-weight: normal;
    margin: 40px 0;
}
.about_who span{
    font-size: 15px;
    color: #000;
    line-height: 24px;
    text-align: justify;
    display: inline-block;
}
.about_who p{
    font-size: 13px;
    color: #666;
    margin: 15px 0;
}
.about_whoimg{
    width: 100%;
    margin: 70px 0 50px 0;
    overflow: hidden;
}
.about_whoimg .about_box{
    width: 33.33%;
    height: 300px;
    padding-top: 200px;
    float: left;
    text-align: center;
}
.about_whoimg .about_box p{
    font-size: 16px;
    color: #333;
}
.about_whoimg .about_box:nth-child(1){
    background: url("../images/guanyu_04.png") no-repeat 50% 10%;
    background-size: 48%;
}
.about_whoimg .about_box:nth-child(2){
    background: url("../images/guanyu_06.png") no-repeat 50% 10%;
    background-size: 40%;
}
.about_whoimg .about_box:nth-child(3){
    background: url("../images/guanyu_08.png") no-repeat 50% 10%;
    background-size: 40%;
}
.about_adv{
    background-color: #f6f6f6;
    padding: 80px 0 50px 0;
}
.about_adv h2{
    font-size: 26px;
    font-weight: normal;
    color: #000;;
    text-align: center;
}
.about_adv span{
    display: block;
    text-align: center;
    font-size: 15px;
    color: #666;
    margin: 15px 0 50px 0;
}
.about_cabin{
    width: 100%;
    overflow: hidden;
}
.about_cabin .bin{
    width: 33.33%;
    height: 360px;
    float: left;
    padding: 260px 15px 0 15px;
}
.about_cabin .bin p{
    font-size: 15px;
    color: #333;
    text-align: justify;
    line-height: 24px;
    height: 72px;
    overflow: hidden;
}
.about_cabin .bin:nth-child(1){
    background:url("../images/xiangmu_05.jpg") no-repeat 50% 10%;
    background-size: 93%;
}
.about_cabin .bin:nth-child(2){
    background:url("../images/xiangmu_03.jpg") no-repeat 50% 10%;
    background-size: 93%;
}
.about_cabin .bin:nth-child(3){
    background:url("../images/xiangmu_07.jpg") no-repeat 50% 10%;
    background-size: 93%;
}

/*trusteeship*/
.trustBox{
    background-color: #f0f0f0;
    padding: 30px 0 60px 0;
}
.trust_title{
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    margin-bottom: 40px;
}
.trust_nav a{
    display: inline-block;
    font-size: 15px;
    color: #000;
    background-color: #d3d3d3;
    line-height: 50px;
    width: 200px;
    text-align: center;
    margin-right: 10px;
}
.trust_nav a:hover{
    color: #F42424;
}
.trust_nav .trust_active{
    background-color: #F42424;
    color: #fff !important;
}
.houses li{
    width: 100%;
    padding: 30px 0 34px 240px;
    background: url(../images/tg-pic3.jpg) no-repeat 0 30px;
    background-size: 220px 182px;
    border-bottom: 1px solid #ccc;
}
.houseBin{
    margin-bottom: 10px;
    overflow: hidden;
}
.house_title{
    float: left;
    width: 80px;
    text-align: center;
    margin-right: 5px;
    font-size: 14px;
    color: #fff;
    background-color: #1bbc9b;
    display: inline-block;
    line-height: 24px;
}
.house_name{
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
.house_intro{
    float: left;
    font-size: 13px;
    color: #333;
    display: inline-block;
    width: 714px;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
}
.house_sty{
    overflow: hidden;
    margin-bottom: 10px;
}
.house_sty .house_title{
    float: left;
}
.houseSty_text{
    background-color: #eaeaea;
    padding: 5px;
    width: 714px;
    float: left;
}
.houseSty_box{
    display: inline-block;
    margin-right: 15px;
}
.houseSty_box span{
    font-size: 13px;
    color: #333;
}
.houseSty_box p{
    margin-top: 5px;
    font-size: 13px;
    color: #dc0201;
}
.check_house{
    font-size: 14px;
    color: #fff;
    background-color: #25b3f5;
    display: inline-block;
    width: 80px;
    line-height: 24px;
    text-align: center;
}

/*rent*/
.rentBox{
    background-color: #f0f0f0;
    padding: 30px 0 60px 0;
}
.rent_main{
    overflow: hidden;
    margin: 42px 0 34px -50px;
}
.rent_main .rent_box{
    float: left;
    width: 313px;
    height: 448px;
    margin-left: 50px;
    background: white;
}
.rent_main .rent_box:hover h5{
    background-color: #50bba6;
}
.rent_main .rent_box h5{
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 44px;
    background-color: #7f7f7f;
    font-weight: normal;
}
.rentbin{
    padding: 0 30px;
}
.rentbin img{
    width: 100%;
}
.rent_info{
    margin-bottom: 15px;
}
.rent_info p{
    font-size: 14px;
    color: #333;
    line-height: 24px;
}
.rent_info p span{
    color: #dc0201;
    margin-right: 10px;
}
.rent_price{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}
.consult{
    width: 100%;
    line-height: 34px;
    font-size: 14px;
    color: #fff;
    background-color: deepskyblue;
    display: inline-block;
    text-align: center;
    margin: 10px 0 0;
}
.consult:hover{
    background-color: #0eb2e8;
}
.rent_intro{
    border-bottom: 1px solid #0069a0;
    margin-bottom: 24px;
}
.rent_intro span{
    font-size: 18px;
    color: #fff;
    background-color: #50bba6;
    display: inline-block;
    padding: 0 20px;
    line-height: 50px;
    margin-bottom: -1px;
}
.introText{
    font-size: 14px;
    color: #333;
    line-height: 24px;
}
.rent_ps{
    font-size: 14px;
    color: #dc0201;
    line-height: 24px;
}
.sty .active_sort{
    background-color: #F42424; /* #00a2ec*/
    color: #fff;
}
.sty .active_area{
    background-color: #F42424;
    color: #fff;
}
.sty .active_cpu{
    background-color: #F42424;
    color: #fff;
}
.sty .active_storage{
    background-color: #F42424;
    color: #fff;
}
.sty .active_graphicsCard{
    background-color: #F42424;
    color: #fff;
}
.sty .active_combo{
    background-color: #F42424;
    color: #fff;
}
.sty{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
.sty td, .sty th{
    border: 1px solid #ccc;
}
.sty td{
    padding-top: 12px;
}
.sty th{
    width: 110px;
    background: #ddd;
}
.sty td a{
    font-size: 15px;
    color: #333;
    display: inline-block;
    text-align: center;
    background-color: #dedede;
    margin: 0 0px 12px 16px;
    line-height: 30px;
    padding: 0 15px;
}
.sty td a:hover{
    background-color: #F42424;
    color: #fff;
}
.rent_cabin{
    margin-left: -30px;
    padding-top: 30px;
}
.rent_cabin li{
    width: 237px;
    height: 440px;
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 15px;
    background-color: white;
}
.rent_cabin li:hover{
    box-shadow: 0 9px 20px -4px #ccc;
    /*background: #ffb6b9 ; */  /*a7d7c5    #98ded3*/
}
.rent_cabin li h3{
    color: #000;
    text-align: center;
    margin-bottom: 15px;
    word-wrap: break-word;
    word-break: normal;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 15px;
}
.rent_cabin li p{
    font-size: 14px;
    color: #333;
    line-height: 22px;
}
.rent_cabin li b{
    font-size: 20px;
    color: #fa5656;
    display: block;
    text-align: center;
    margin-top: 18px;
}
.rent_cabin li a{
    width: 150px;
    height: 36px;
    line-height: 34px;
    text-align: center;
    background: #03b0ff;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    display: block;
    margin: 5px auto 0;
}
.rent_cabin li a:hover{
    background-color: #0193d6;
}
.rent_cabin li span{
    color: #000;
}
.page{
    display: table;
    text-align: center;
    margin: 24px auto 40px auto;
}
.page .prev, .page .next{
    background-color: #ff7657;
    border-color: #ff7657;
    color: #fff !important;
}
.page li a{
    font-size: 14px;
    color: #000;
    border: 1px solid #ccc;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    margin: 0 6px;
    padding: 0 10px;
}
.page li a:hover{
    background-color: #ff7657;
    color: #fff;
    border-color: #ff7657;
}
.page_on{
    background-color: #ff7657;
    color: #fff !important;
    border-color: #ff7657 !important;
}

/*contact*/
.contact_way{
    width: 1070px;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.contact_way li{
    width: 356px;
    height: 340px;
    padding: 64px 0;
    text-align: center;
}
.contact_way li:nth-child(2){
    border-left:1px solid #ccc;
    border-right: 1px solid #ccc;
}
.contact_way li:nth-child(1) .contact_img{
    background-image: url(../images/icon_phone.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.contact_way li:nth-child(2) .contact_img{
    background-image: url(../images/icon_qq.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.contact_way li:nth-child(3) .contact_img{
    background-image: url(../images/icon_mail.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.contact_img{
    width: 128px;
    height: 128px;
    margin: 0 auto;
    background-color: #ededed;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.contact_way li span{
    font-size: 24px;
    color: #000;
}
.contact_way li p{
    font-size: 16px;
    color: #666;
    margin: 26px 0 5px 0;
}
.contact_wechat{
    width: 100%;
    height: 400px;
    background: url(../images/bg_weixin.jpg) no-repeat left top;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 60px;
    background-attachment: fixed;
}
.contact_wechat h3{
    font-size: 24px;
    color: #fff;
}
.contact_wechat p{
    font-size: 16px;
    color: #fff;
    margin: 24px 0;
}
.contact_wechat img{
    width: 120px;
    height: 120px;
    display: inline-block;
    margin: 0 auto;
}
.map{
    width: 100%;
    height: 570px;
}
.iframeMap{
    width: 100%;
    height: 570px;
}

/*news_details*/
section,header{
    display: block;
}
.news_content section{
    margin:  30px 0;
}
.news_content section header{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;

    margin-bottom: 20px;
}
.news_content section header p{
    font-size: 18px;
    color: #333;
    line-height: 44px;
}
.news_content section header time{
    font-size: 15px;
    color: #666;
}
.news_content section .paragraph{
    font-size: 14px;
    color: #666;
    line-height: 26px;
    text-indent: 2em;
    text-align: justify;
}
.news_content section img{
    display: block;
    margin: 15px auto;
}
.pagebtn{
    overflow: hidden;
    margin-bottom: 40px;
}
.pagebtn a{
    font-size: 13px;
    color: #333;
    display: inline-block;
    line-height: 34px;
    border: 1px solid #ccc;
    padding: 0 30px;
}
.pagebtn a:first-child{
    float: left;
}
.pagebtn a:last-child{
    float: right;
}
.pagebtn a:hover{
    border-color: #dc0201;
    color: #dc0201;
}










