*{
			font-family: "微软雅黑" !important;
		}
		body{
			background-color: white !important;
		}
		.mui-bar-tab~.mui-content{
			padding-bottom: 0 !important;
		}
		.mui-bar-nav{
			background-color: #4299ff;
		}
		.mui-title{
			color: white;
		}
		.mui-pull-left{
			color: white;
		}
		.top{
			width: 100%;
			background-color: white;
			text-align: center;
			padding: 15px 0;
		}
		.top img{
			width: 56%;
		}
		.top h4{
			font-size: 16px;
			color: #000;
		}
		.down{
			width: 100%;
			background-color: white;
			padding: 10px 5px;
		}
		.icon-star1{
			font-size: 20px;
			color: #999;
			margin-right: 5px;
		}
		.icon-star1-copy{
			color: red;
			font-size: 20px;
			margin-right: 5px;
		}
		.msg{
			font-size: 15px; 
			padding: 10px !important;
		}
		.submit{
			width: 80%;
			margin: 0 auto;
			display: block;
			border-radius: 20px;
			box-shadow: 0 5px 10px #88a6c5;
		}
		.space{
			width: 100%;
			height: 15px;
			background-color: ##EFEFF4;
		}