body{
    background-color: #121631
}
.carousel-inner img{
	width: 100% !important;
}
.carousel-indicators li{
	width: 40px !important;
	margin: 1px 5px !important;
	-webkit-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
    behavior:url(pie/PIE.htc);
}
.carousel-indicators .active {
    width: 40px !important;
    height: 10px !important;
    margin: 0 5px 1px 5px !important;
}

.menu{
	width: 100%;
	padding: 20px 0;
    background-color: #121631
}
.menu .c3{
	text-align: center;
}
.menu .c3 img{
    width: 255px
}
.menu .c3 a{
	text-decoration: none;
    font-size: 15px;
    color: #00c1de;
    display: inline-block;
    line-height: 30px;
    padding: 0 15px;
    background-color: #fff;
    font-weight: bold;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    behavior:url(pie/PIE.htc);
}
.menu .c3 a:hover{
	color: #fff;
	background-color: #00bcd5;
}
.menu .c3 p{
	margin-bottom: 0;
    font-size: 16px;
    margin-top: 10px;
    color: white;
}

@keyframes warn {  
    0% {  
        transform: scale(0);  
        opacity: 0.0;  
    }  
    25% {  
        transform: scale(0);  
        opacity: 0.1;  
    }  
    50% {  
        transform: scale(0.1);  
        opacity: 0.3;  
    }  
    75% {  
        transform: scale(0.5);  
        opacity: 0.5;  
    }  
    100% {  
        transform: scale(1);  
        opacity: 0.0;  
    }  
}  
@-webkit-keyframes warn {  
    0% {  
        -webkit-transform: scale(0);  
        opacity: 0.0;  
    }  
    25% {  
        -webkit-transform: scale(0);  
        opacity: 0.1;  
    }  
    50% {  
        -webkit-transform: scale(0.1);  
        opacity: 0.3;  
    }  
    75% {  
        -webkit-transform: scale(0.5);  
        opacity: 0.5;  
    }  
    100% {  
        -webkit-transform: scale(1);  
        opacity: 0.0;  
    }  
}  

@keyframes fl {  
    0% {  
        -webkit-transform: scale(0);  
        opacity: 0.0;  
    }  
    25% {  
        -webkit-transform: scale(0);  
        opacity: 0.1;  
    }  
    50% {  
        -webkit-transform: scale(0);  
        opacity: 0.3;  
    }  
    60% {  
        -webkit-transform: scale(0.1);  
        opacity: 0.3;  
    } 
    70% {  
        -webkit-transform: scale(0.5);  
        opacity: 0.5;  
    }  
    80% {  
        -webkit-transform: scale(0.6);  
        opacity: 0.5;  
    } 
    100% {  
        -webkit-transform: scale(1);  
        opacity: 0.0;  
    }  
}
.distribute{
	width: 100%;
	height: 654px;
	padding: 90px 0;
	background-color: #121631;
}
.distribute .c6{
	text-align: center;
}
.distribute .c6 .map{
	position: relative;
	width: 576px;
	margin: 0 auto;
}
.distribute .map img{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0
}
.distribute .c2{
	text-align: right;
}
.distribute .c2 img{
    width: 12px;
    margin-right: 8px;
}
.distribute .c3{
	margin-top: 120px;
}
.distribute .c3 p{
	color: #00c1de;
	font-size: 16px;
}
.distribute .c3 .circle{
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #00c1de;
    float: left;
    margin-top: 9px;
    margin-right: 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    behavior:url(pie/PIE.htc);
}
.distribute .c3 h4{
	color: yellow;
	font-size: 20px !important;
	margin-bottom: 24px !important
}
.distribute .c3 h4 img{
        width: 18px;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
}
.distribute .spot{
	/*position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: inline-block;
    background: #00c1de;
    line-height: 44px;
    font-size: 12px;*/
    position: absolute;
    width: 8px;
    height: 8px;
    display: inline-block;
    background: #00c1de;
    line-height: 41px;
    font-size: 12px;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    behavior:url(pie/PIE.htc);

}
/* 产生动画（向外扩散变大）的圆圈  */  
.pulse{  
    position: absolute;  
    width: 95px;
    height: 95px;
    background-color: #00c1de;   
	-webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    behavior:url(pie/PIE.htc); 
    z-index: 1;  
    opacity: 0;  
    -webkit-animation: warn 2s ease-out infinite;  
    -moz-animation: warn 2s ease-out infinite;  
    animation: warn 2s ease-out infinite;  
    -webkit-animation-iteration-count: infinite;  
    -moz-animation-iteration-count: infinite;  
    animation-iteration-count: infinite;
} 
.pulses{
    position: absolute;
    width: 95px;
    height: 95px;
    background-color: #00c1de;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    behavior:url(pie/PIE.htc);
    opacity: 0;
    animation: fl 2.2s ease-out infinite;
}
.spot1{
    top: 71px;
    right: 48px;
}
.pulse1{  
    right: 5px;
    top: 27px;
} 
.pulses1{  
    right: 5px;
    top: 27px;
} 
.spot2{
	top: 161px;
    right: 89px;
}
.pulse2{  
    right: 45px;
    top: 117px;
} 
.pulses2{  
    right: 45px;
    top: 117px;
} 
.spot3{
    top: 161px;
    right: 208px;
}
.pulse3{  
    right: 165px;
    top: 117px;
} 
.pulses3{  
    right: 165px;
    top: 117px;
} 
.spot4{
	top: 180px;
    right: 149px;
}
.pulse4{  
    right: 105px;
    top: 137px;
} 
.pulses4{  
    right: 105px;
    top: 137px;
} 
.spot5{
	top: 211px;
    right: 188px;
}
.pulse5{  
    right: 145px;
    top: 167px;
} 
.pulses5{  
    right: 145px;
    top: 167px;
} 
.spot6{
	top: 221px;
    right: 128px;
}
.pulse6{  
    right: 85px;
    top: 177px;
} 
.pulses6{  
    right: 85px;
    top: 177px;
} 
.spot7{
	top: 251px;
    right: 168px;
}
.pulse7{  
    right: 125px;
    top: 207px;
} 
.pulses7{  
    right: 125px;
    top: 207px;
} 
.spot8{
	top: 251px;
    right: 228px;
}
.pulse8{  
    right: 185px;
    top: 207px;
} 
.pulses8{  
    right: 185px;
    top: 207px;
}
.spot9{
	top: 310px;
    right: 238px;
}
.pulse9{  
    right: 194px;
    top: 267px;
} 
.pulses9{  
    right: 194px;
    top: 267px;
}
.spot10{
	top: 291px;
    right: 288px;
}
.pulse10{  
    right: 245px;
    top: 247px;
} 
.pulses10{  
    right: 245px;
    top: 247px;
}
.spot11{
	top: 296px;
    right: 174px;
}
.pulse11{  
    right: 130px;
    top: 252px;
} 
.pulses11{  
    right: 130px;
    top: 252px;
}
.spot12{
	top: 285px;
    right: 130px;
}
.pulse12{  
    right: 86px;
    top: 241px;
} 
.pulses12{  
    right: 86px;
    top: 241px;
}
.spot13{
	top: 267px;
    right: 102px;
}
.pulse13{  
    right: 58px;
    top: 222px;
} 
.pulses13{  
    right: 57px;
    top: 222px;
}
.spot14{
	top: 313px;
    right: 90px;
}
.pulse14{  
        right: 46px;
    top: 269px;
} 
.pulses14{  
    right: 46px;
    top: 271px;
}
.spot15{
	top: 359px;
    right: 115px;
}
.pulse15{  
        right: 71px;
    top: 315px;
} 
.pulses15{  
        right: 72px;
    top: 315px;
}
.spot16{
	top: 389px;
    right: 165px;
}
.pulse16{  
        right: 121px;
    top: 345px;
} 
.pulses16{  
       right: 122px;
    top: 346px;
}
.spot17{
	top: 340px;
    right: 149px;
}
.pulse17{  
    right: 106px;
    top: 296px;
} 
.pulses17{  
        right: 106px;
    top: 296px;
}
.spot18{
	top: 334px;
    right: 189px;
}
.pulse18{  
        right: 146px;
    top: 291px;
} 
.pulses18{  
    right: 146px;
    top: 291px;
}
.spot19{
	top: 389px;
    right: 225px;
}
.pulse19{  
        right: 181px;
    top: 346px;
} 
.pulses19{  
        right: 182px;
    top: 346px;
}
.spot20{
	top: 380px;
    right: 305px;
}
.pulse20{  
        right: 261px;
    top: 336px;
} 
.pulses20{  
        right: 262px;
    top: 336px;
}
.spot21{
	top: 221px;
    right: 348px;
}
.pulse21{  
    right: 305px;
    top: 177px;
} 
.pulses21{  
    right: 305px;
    top: 177px;
}
.spot22{
	top: 449px;
    right: 216px;
}
.pulse22{  
        right: 171px;
    top: 406px;
} 
.pulses22{  
        right: 172px;
    top: 406px;
}
.spot23{
    top: 246px;
    right: 273px;
}
.pulse23{  
    right: 230px;
    top: 202px;
} 
.pulses23{  
    right: 230px;
    top: 202px;
}
.cooperation_text{
	text-align: center;
    padding: 20px 0 50px 0;

}
.cooperation_text h2{
	margin-bottom: 30px;
    color: white
}
.cooperation_text .box{
	width: 114px;
	display: inline-block;
}
.cooperation_text .box img{
	-webkit-border-radius: 12px;
    -o-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    border-radius: 12px;
    behavior:url(pie/PIE.htc);
}

.cooperation_text .box_spe{
	margin: 0 80px 
}
.cooperation_text .box .a3{
	border: 1.4px solid #eee;
}






















