.content{
	padding: 20px 0
}
.bar{
	padding: 15px;
	text-align: center;
	font-size: 16px;
	color: white
}
.odd{
	background-color: #206b96;
}
.even{
	background-color: #048bba
}
.bar span{
	margin-bottom: 10px;
    display: inline-block;
}
.atg{
	text-align: center;
    font-size: 14px;
    line-height: 30px;
    color: #289fc7;
    margin: 0;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.d12{
	padding: 0
}
.c12{
	margin-top: 30px
}
.c6 a{
	background: #2ca2a4;
    display: block;
    text-align: center;
    color: white;
    line-height: 42px;
    text-decoration: none;
    font-size: 14px;
}
.c11{
	padding-right: 5px
}
.c22{
	padding-left: 5px
}
.m12{
	margin-top: 30px
}
.m6{
	text-align: center;
	position: relative;
}
.m61{
	padding-left: 0;
    padding-right: 5px;
}
.m62{
	padding-right: 0;
    padding-left: 5px;
}
.m6 img{
	width: 44px;
    position: absolute;
    left: 37%;
    top: 18px;
}
.m6 span{
	font-size: 15px;
	color: #333
}
.m6 p{
	margin-bottom: 2px !important
}
.name{
	display: inline-block;
	margin-bottom: 5px;
}
.m6 em{
	font-style: normal;
	font-size: 15px;
	color: #00c1de
}
.m6 .top{
	width: 100%;
	height: 44px;
	background-color: #00c1de
}
.m6 .text{
	background-color: #e8e7e7;
	padding: 30px 0 15px 0
}
.m6 a{
	text-decoration: none;
    font-size: 14px;
    color: white;
    display: inline-block;
    line-height: 30px;
    background-color: #00c1de;
    text-align: center;
    padding: 0 15px;
    margin-top: 15px;
}




