.pic{
	width: 0.42rem;
	float: left;
	margin-right: 10px;
	margin-top: 1px;
}
.pic_span{
	font-size: 0.32rem;
}
.mui-input-row label{
	width: 28%;
	line-height: 0.34rem;
}
.mui-input-row label~input{
	width: 72%;
}
.chargebar{
	margin: 10px 0;
}
.chargebar:after,.chargebar:before{
	height: 0;
}
.chargebar .mui-input-row:after{
	height: 0;
}
.ways:before{
	height: 0;
}
.way:before{
	height: 0;
}
.way:after{
	height: 0;
}
.mui-table-view:after{
	left: 15px;
	right: 15px;
}
.mui-table-view-cell:after{
	right: 15px;
}
.payimg{
	width: 0.7rem;
	float: left;
}
.way span{
	font-size: 0.36rem;
    line-height: 0.7rem;
    margin-left: 12px;
}