.sur{
	background-color: #3975e2;
	text-align: center;
	height: 100px;
	padding-top: 26px;
}
.sur span{
	font-size: 0.54rem;
	color: white;
}
.sur p{
	font-size: 0.22rem;
	color: white;
}
.menu{
	background-color: #1b5ed8;
    overflow: hidden;
    padding: 10px 0;
}
.menu .box{
	width: 33.33%;
	float: left;
	text-align: center;
}
.menu .box span{
	font-size: 0.3rem;
	color: white;
}
.menu .box p{
	font-size: 0.2rem;
	margin-bottom: 0;
	color: white;
}
.boxborder{
	border-right: 1px solid #eee;
}
.mui-bar-nav{
	box-shadow: none;
}
.lists{
	overflow: hidden;
}
.lists span{
	float: left;
	font-size: 0.26rem;
	color: #000;
}
.lists .em{
	font-style: normal;
	font-size: 0.22rem;
	color: #ff0000;
	float: right;
}
.lists .time{
	width: 0.3rem;
	float: right;
	margin-right: 8px;
	margin-top: 1%;
}
.lists p{
	overflow: hidden;
}
.lists p em{
	float: right;
	font-style: normal;
	color: #515151;
}
.lists i{
	font-size: 0.24rem;
	color: #a4a4a4;
	font-style: normal;
	float: left;
}
.lists .dw{
	margin-top: 10px;
}
.mui-table-view-cell:after{
	right: 15px;
}
.mui-table-view:before{
	height: 0;
}
.mui-table-view:after{
	height: 0;
}
.inf{
	margin: 10px 0;
}
.pro span{
	font-size: 0.26rem;
	color: #000;
}
.pro p{
	font-size: 0.22rem;
	color: #515151;
	text-align: justify;
}
.pro .drop{
	width: 0.4rem;
	display: block;
	margin: 10px auto 5px auto;
}
.ph{
	display: block;
	max-height: 126px;
	overflow: hidden;
}
.pv{
	display: none;
}
.contract{
	margin: 10px 0;
}
.conpic{
	width: 2.2rem;
}
.contract_name{
	font-size: 0.26rem;
	color: #000;
}
.cell{
	text-align: center;
}
.albums{
	overflow: hidden;
	max-height: 125px;
}
.albumbox{
	display: none;
}
.spepic1{
	float: left;
}
.spepic3{
	float: right;
}
.morepic{
	width: 0.4rem;
	display: block;
	margin: 10px auto 5px auto;
}
.contract_albums{
	width: 100%;
	overflow: hidden;
}
form:before{
	height: 0 !important;
}
.mui-input-group:after{
	height: 0 !important;
}
form>.mui-input-row:after{
	height: 0 !important;
}
.limit .mui-table-view-cell{
	overflow: hidden;
}
.limit .available{
	font-size: 0.3rem;
	color: #000;
	float: left;
}
.limit .available em{
	font-style: normal;
	color: #ff0000;
	margin-left: 10px;
}
.limit a{
	float: right;
    font-size: 0.28rem;
    background: #1b5ed8;
    line-height: 0.15rem;
    border-radius: 5px;
    color: white !important;
    top: 8px;
    margin-right: 0px !important;
    display: inline-block !important;
}
.limit .mui-active{
	background-color: white;
}
.chgmy{
	padding: 0;
}
.chgmy label{
	font-size: 0.3rem;
    width: 21%;
    padding: 11px 0 0 15px;
}
.chgmy input{
	font-size: 0.3rem;
    float: left !important;
    padding: 11px !important;
    height: auto;
    line-height: 0.3rem;
}





.mui-preview-image.mui-fullscreen {
	position: fixed;
	z-index: 20;
	background-color: #000;
}
.mui-preview-header,
.mui-preview-footer {
	position: absolute;
	width: 100%;
	left: 0;
	z-index: 10;
}
.mui-preview-header {
	height: 44px;
	top: 0;
}
.mui-preview-footer {
	height: 50px;
	bottom: 0px;
}
.mui-preview-header .mui-preview-indicator {
	display: block;
	line-height: 25px;
	color: #fff;
	text-align: center;
	margin: 15px auto 4;
	width: 70px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 12px;
	font-size: 16px;
}
.mui-preview-image {
	display: none;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.mui-preview-image.mui-preview-in {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
.mui-preview-image.mui-preview-out {
	background: none;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}
.mui-preview-image.mui-preview-out .mui-preview-header,
.mui-preview-image.mui-preview-out .mui-preview-footer {
	display: none;
}
.mui-zoom-scroller {
	position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	-webkit-backface-visibility: hidden;
}
.mui-zoom {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.mui-slider .mui-slider-group .mui-slider-item img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}
.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
	width: 100%;
}
.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
	display: inline-table;
}
.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
	display: table-cell;
	vertical-align: middle;
}
.mui-preview-loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}
.mui-preview-loading.mui-active {
	display: block;
}
.mui-preview-loading .mui-spinner-white {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	height: 50px;
	width: 50px;
}
.mui-preview-image img.mui-transitioning {
	-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease;
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
p img {
	max-width: 100%;
	height: auto;
}
.mui-slider-img-content {
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	color: white;
	text-align: center;
	line-height: 21px
}