.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
	border: none;
}
.mui-slider-indicator{
	background-color: white;
}
.bar{
	width: 95%;
	margin: 10px auto;
	background-color: white;
	border-radius: 10px 10px 0 0;
}
.bar .top{
	border-radius: 10px 10px 0 0;
	padding: 10px;
	color: white;
	font-size: 0.33rem;
	overflow: hidden;
}
.bar .top i{
	display: inline-block;
	width: 2px;
	height: 0.3rem;
	background-color: white;
	margin: 3px 5px;
	float: left;
}
.bar .top span{
	font-size: 0.33rem;
	float: left;
}
.clean{
	background-color: #00cc00;
}
.refunding{
	background-color: #ff0033;
}
.x4{
	text-align: center;
	padding: 15px 0;
}
.x4 span{
	font-size: 0.33rem;
	color: #333;
}
.x4 p{
	font-size: 0.33rem;
	color: #FF6600;
	margin-bottom: 0;
	margin-top: 10px;
}
.bot{
	padding: 10px;
	overflow: hidden;
	border-top: 1px solid #eee;
}
.bot span{
	float: left;
	font-size: 0.28rem;
}
.bot em{
	font-style: normal;
	float: right;
}
.bot i{
	font-style: normal;
	float: right;
	color: #ff0000;
}